nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
}
input{
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #f7f6f6;
    margin-right: 20px;
    width: 17rem;
    position: relative;
    font-size: 18px;
}
.profile-container{
    display: flex;
    gap: 15px;
}
.nav-icons{
    font-size: 20px;
}